/* Nailah Rozette N. Banzuela
C-4L
Exercise 2: HTML & CSS */

body {
    font-family: 'Georgia', serif; 
    background-color: #f5f2e8;
    color: #373a37;
    line-height: 1.4;
}

hr.line{
    height: 0.8px;
    background-color:#a5baa2;
}
/* ----------- Logo and Navigation Bar ----------- */
.navbar{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background-color: #836b60;
    height: 80px;
}

.header-logo{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(10%); /* in between the header and bg */
}

.logo-pic{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 7px solid #f5f2e8;
    object-fit: cover;
}

.nav-links {
    display: flex;
    list-style: none; 
    gap: 40px;
}

.nav-links a:hover {
   color:#cae1c6
}

.nav-links a {
    text-decoration: none;
    color: #f5f2e8;
    font-weight: bold;
    font-size: 18px;
}

/* ----------- Profile and About Me section ----------- */
.main-section {
    display: flex;
    flex-direction: row-reverse; 
    padding: 100px 10% 60px 10%;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.intro{
    flex: 0 1 55%;
    text-align: left;
}

.intro h2{
    margin-top: 15px;
    color: #3f603e;
}

.about-text {
    flex: 1.5;
    font-size: medium;
    text-align: justify;
    text-indent: 2em;
    margin-top: 25px;
}

.profile-container {
    flex: 0 1 50%; 
    display: flex;
    justify-content: flex-end;
}

.profile-pic {
    width: 100%;
    max-width: 400px;
    border-radius: 40px; 
    box-shadow: 10px 10px 0px #a5baa2;
}

/* ----------- Skills section ----------- */
.skills-section{
    padding: 0; 
    margin-top: 40px; 
    width: 100%;
}

.skills-section h2{
    margin-bottom: 20px;
    color:#3f603e;
}

.skills-content{
    margin-bottom: 10px;
    font-size: medium;
    color:#373a37;
}

.skills-list ul{
    display: grid;
    grid-template-columns: repeat(2, max-content); /* split the skills in 2 columns */
    gap: 10px 60px;
    list-style-type: '✦';
}

.skills-list ul li::marker{
    content: '✦ ';
    color:#836b60
}

/* ----------- Projects section ----------- */
.projects-section{
    padding: 50px 10%;
    text-align: center;
    color: #3f603e;
}

.projects-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    color:#373a37; 
}

.project-card h3{
    color: #224b2a;
}
.project-card{
    display: flex;
    flex: 1 1 350px;
    flex-direction: column;
    max-width: 400px;
    max-height: 350px;
    background-color:#a5baa2; 
    border-radius: 20px;
    overflow: scroll;
    padding: 20px;
}

/* ----------- Contact section ----------- */

footer{
    position: relative;
    padding: 30px 10% 20px 10%;
    background-color: #836b60;
    color: #f5f2e8;
    margin-top: 60px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.footer-logo .logo-pic{
    width: 80px;
    height: 80px;
    border: 3px solid #f5f2e8;
}

.contact-info{
    font-size: 15px;
    text-align: center;
}

.contact-link{
    color: #f5f2e8;
    text-decoration: none;
}

.contact-link:hover{
    color: #cae1c6;
    text-decoration: underline;
}

.back-to-top a{
    background-color: #f5f2e8;
    color: #373a37;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: small;
    display: inline-block;
    margin-top: 10px;
}

.back-to-top a:hover{
    transform: translateY(-5);
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #f5f2e8;
    color:#f5f2e8
}